@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --primary-gradient-one: hsl(236, 83%, 89%);
    --primary-gradient-two: hsl(237, 25%, 64%);
    --Very-Light-Grayish-Blue: hsl(240, 78%, 98%);
    --Light-Grayish-Blue: hsl(234, 14%, 74%);
    --Grayish-Blue: hsl(233, 13%, 49%);
    --Dark-Grayish-Blue: hsl(232, 13%, 33%);
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: var(--Dark-Grayish-Blue);
    color: var(--Very-Light-Grayish-Blue)
}

input, button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

ul {
    list-style-type: none; 
}

.todo-container {
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

.todo-container h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.todo-form {
    display: flex;
    width: 100%;
}

.todo-input {
    flex: 1 1 0%;
    background-color: var(--Grayish-Blue);
    color: white;
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    font-size:1.125rem;
}

.add-button {
    color: white;
    font-size: 1.25rem;
    font-weight: 700;
    /* background-image: linear-gradient(to right, var(--primary-gradient-one), var(--primary-gradient-two));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    opacity: 1;
    transition: 0.4s;
}
/*
.add-button.active {
    opacity: 1;
    pointer-events: auto;
}

.add-button:hover {
    opacity: 0.8;
}

.add-button:active {
    opacity: 1;
    cursor: pointer;
}
*/

.todo-items {
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    padding: 2rem 1rem 2rem 0;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.item  {
    padding: 1rem 1rem 1rem 0;
    display: flex;
    justify-content: space-between;
    flex: 1 1 0%;
}

.item input[type=checkbox]:not(old) {
    opacity: 0;
  /* match the dimentsions of the custom label */
  width: 50px;
  height: 50px;
  padding: 0;
  margin: 0;
  text-decoration: line-through;
}

.item label {
    position: relative;
  }

.item label::after {
    content: "";
    position: absolute;
    /*cover the default input */
    top: 16px;
    left: -40px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: var(--Grayish-Blue);
    
    transform: rotate(0);
    pointer-events: none;
    text-align: center;
    color: #FFF;
}

.item input[type=checkbox]:checked+label:after {
    content: "\2713";
  }

.item .text {
    flex: 1 1 0%;
    background-color: var(--Grayish-Blue);
    color: white;
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    font-size:1.125rem;
}

.item .content .text:not(:read-only) {
    color: white;
}

button {
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125rem;
    text-transform: uppercase;
    transition: 0.4s;
}

.edit-button {
    color: white;
    /* background-image: linear-gradient(to right, var(--primary-gradient-one), var(--primary-gradient-two));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.delete-button {
    color: crimson;
}

.checked .text { 
    text-decoration: line-through;
    color: black;
  }


